*
{
  margin:0;
  padding:0;
}
header
{
background-image:url(.jpg);
height:100vh;
background-size:cover;
background-position:auto;
}

.main nav{
   width:100%;
  height:95px;
  background: white;
}
.main img{
   float: left;
   width:300px;
   height:95px;
}
ul {list-style: none;
    padding: 0px;
    float:right;
    margin-right:40px;
    margin-top:55px;    
  }

  ul li {display:block; 
    position: relative;
    float: left;
    border:1px solid #000}

  ul li a {
display: block;    
     text-decoration:none;
  color:white;
  background-color:black;
  padding:8px 28px;
  border:1px solid white;
transition: 0.2s ease;
   font-size:13px;
   font-family: arial black;
 
}

         
  ul li a:hover {
    background-color:white;
      color:black;
      position:relative;
      
  }
  li:hover ul {display: block; position: absolute;}
  li:hover li {float: none;z-index:100;}
  li:hover a {background: black;}
  li:hover li a:hover {background: white;
    }
 
 .btn button{
 	position: absolute;
 	top: 20px;
 	right:140px;
 	transform:translate(-50%,-50%); 
 }
.btn button{
	background:none;
	color: black;
	width:100px;
	height: 35px;
	border: 1px solid black;
	font-size:18px;
	border-radius:4px;
	transition:  .6s;
	overflow:hidden;   
    
}
.btn button:focus{
	outline: none;

}

.btn button:hover{
	background: black;
	cursor: pointer;
	color:white;

}
.btn1 button{
 	position: absolute;
 	top: 20px;
 	right:30px;
 	transform:translate(-50%,-50%); 
 }
.btn1 button{
	background:none;
	color: black;
	width:105px;
	height: 35px;
	border: 1px solid black;
	font-size:18px;
	border-radius:4px;
	transition:  .6s;
	overflow:hidden;   
    
}
.btn1 button:focus{
	outline: none;

}

.btn1 button:hover{
	background: black;
	cursor: pointer;
    color:white;
}
*
 {
  box-sizing: border-box;
}

.centerTable { margin: 0px 40px 40px 50px; }

